<a class="back"><%= I18n.t('pageflow.linkmap_page.editor.templates.edit_area.back') %></a>
<a class="destroy"><%= I18n.t('pageflow.linkmap_page.editor.templates.edit_area.destroy') %></a>
<div class="form_container"></div>
