<label>
  <span class="name"><%= I18n.t('pageflow.linkmap_page.editor.templates.file_areas.label') %></span>
</label>
<ul class="areas outline"></ul>

<a href="" class="add_area"><%= I18n.t('pageflow.linkmap_page.editor.templates.file_areas.add') %></a>
