<div>
  <span class="missing_file_thumbnail"></span>
  <span class="file_thumbnail"></span>
  <div class="title"></div>
  <div class="label"></div>
  <a class="edit" title="<%= I18n.t('pageflow.linkmap_page.editor.templates.file_area_item.edit') %>"></a>
<div>
