<div>
  <span class="missing_file_thumbnail"></span>
  <span class="file_thumbnail"></span>
  <span class="title"></span>
  <a class="edit" title="<%= I18n.t('pageflow.linkmap_page.editor.templates.file_area_item.edit') %>"></a>
  <a class="remove" title="<%= I18n.t('pageflow.linkmap_page.editor.templates.file_area_item.remove') %>"></a>
<div>
