.editor {
  @import "./editor/file_areas";
}

.linkmap_areas {
  @import "./editor/resizable";

  .edit {
    @include icon-only-button(white);
    @include pencil-icon;
    position: absolute;
    display: none;
    z-index: 2;
    top: 5px;
    right: 5px;
    background-color: #fff;
    border: solid 1px #888;
  }

  .toggle_marker {
    @include icon-only-button(white);
    @include eye-icon;
    position: absolute;
    display: none;
    z-index: 2;
    top: 5px;
    right: 40px;
    background-color: #fff;
    border: solid 1px #888;
  }

  .area_type_pictogram {
    @include background-icon-center($color: #fff);
    @include link-icon;
    display: none;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
  }

  &.editable {
    .hover_area {
      cursor: move;

      &:hover .edit,
      &:hover .toggle_marker,
      &:hover .area_type_pictogram {
        display: block;
      }

      &.editing .edit,
      &.editing .toggle_marker,
      &.editing .area_type_pictogram {
        display: none;
      }

      &.editing {
        z-index: 2;
      }

      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        @include box-sizing(border-box);
      }

      &.highlighted:before,
      &.editing:before,
      &:hover:before {
        background-color: rgba(255, 255, 255, 0.3);
      }

      &:before {
        border: solid 2px #000;
      }

      &:after {
        border: solid 2px #fff;
        @include animation(blink 3s linear infinite);
      }
    }

    &.linkmap_audio_file_areas {
      .hover_area:before {
        border-color: #006add;
      }

      .area_type_pictogram {
        @include note-icon;
      }
    }
  }
}