.editor {
  @import "./editor/file_areas";
}

.linkmap_areas {
  @import "./editor/resizable";

  .edit {
    @include icon-only-button(white);
    @include pencil-icon;
    position: absolute;
    display: none;
    z-index: 2;
    top: 5px;
    right: 5px;
    background-color: #fff;
    border: solid 1px #888;
  }

  &.editable {
    .hover_area {
      cursor: move;

      &:hover .edit {
        display: block;
      }

      &.editing .edit {
        display: none;
      }

      &.editing {
        z-index: 2;
      }

      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        @include box-sizing(border-box);
      }

      &.highlighted:before,
      &.editing:before,
      &:hover:before {
        background-color: rgba(255, 255, 255, 0.3);
      }

      &:before {
        border: solid 2px #000;
      }

      &:after {
        border: solid 2px #fff;
        @include animation(blink 3s linear infinite);
      }
    }
  }
}