<div class="blackLayer"></div>
<div class="content_and_background linkmap_page">
  <div class="backgroundArea scroller">
    <div class="linkmap">
      <%= background_image_div_with_size(configuration,
                                         'background_image',
                                         class: 'panorama panorama_image',
                                         style_group: :original) %>

      <div class="panorama panorama_video">
        <%= lookup_video_tag(configuration['background_video_id'],
                             configuration['poster_image_id'],
                             loop: true,
                             unique_id: page.id,
                             preload: page.is_first) %>
      </div>

      <%= linkmap_areas_div(configuration, 'linkmap_page_link_areas') %>
      <%= linkmap_areas_div(configuration, 'linkmap_audio_file_areas') %>
    </div>
  </div>
</div>
