<div class="blackLayer"></div>
<div class="content_and_background linkmap_page">
  <div class="backgroundArea">
    <%= background_image_div(configuration, 'background_image', class: 'fixed_background') %>
    <div class="scroller">
      <div class="linkmap">
        <div class="panorama_wrapper">
          <% if configuration['background_type'] == 'video' &&
                !Pageflow::ImageFile.find_by_id(configuration['panorama_image_id']) %>

            <%= background_image_div_with_size(configuration,
                                               'panorama_video',
                                               file_type: 'video_file',
                                               class: 'panorama panorama_image') %>
          <% else %>
            <%= background_image_div_with_size(configuration,
                                               'panorama_image',
                                               class: 'panorama panorama_image',
                                               style_group: :panorama) %>
          <% end %>

          <div class="panorama panorama_video">
            <%= lookup_video_tag(configuration['panorama_video_id'],
                                 configuration['poster_image_id'],
                                 loop: true,
                                 unique_id: page.id,
                                 preload: page.is_first) %>
          </div>

          <%= linkmap_areas_div(@entry, configuration) %>
          <div class="description_overlay">
            <div class="description_overlay_wrapper">
              <div class="link_title">Testtitle></div>
              <div class="link_description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
