<div class="background_image" data-style-group="panorama"></div>
<div class="linkmap_marker"></div>

<span class="area_type_pictogram"></span>
<a class="toggle_marker" href="" title="<%= I18n.t('pageflow.linkmap_page.editor.templates.embedded.area_item.toggle_marker') %>">
<a class="edit" href="" title="<%= I18n.t('pageflow.linkmap_page.editor.templates.embedded.area_item.edit') %>">
</a>
