@include pageflow-page-type(linkmap_page);

@import "./linkmap_page/animations/rotate";

.js .page .scroller > div.linkmap {
  padding: 0 !important;
  width: auto;
  height: auto;

}
.linkmap_page {
  @import "./linkmap_page/audio_player_controls";

  @include user-select(none);

  .content {
/*    pointer-events: none; */
  }

  .scroller {
    overflow: hidden;

    > div {
      min-height: 0;
    }
  }

  .linkmap {
    pointer-events: none;
    position: absolute;
    height: 100%;
    width: 100%;
    left:0;

    &.moving_background {
      @include transition(none);
    }

    &.measuring {
      @include transition(none);
    }
  }

  .panorama_wrapper {
    position: absolute;
  }

  .linkmap_areas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .panorama {
    height: 120%;
    width: auto;
    vertical-align: middle;
    position: relative;
    display: none;

    &.active {
      display: block;
    }
  }

  .hover_video {
    display: none;
  }

  .vjs-loading-spinner,
  .vjs-control-bar {
    display: none !important;
  }

  .hover_area {
    position: absolute;
    top: 50%;
    left: 10%;
    height: 30%;
    width: 20%;
    overflow: hidden;
    cursor: pointer;
    display: block;
    pointer-events: all;

    .background_image {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      @include transition(opacity 0.5s ease, visibility 0.5s ease);
    }

    &:hover,
    &.hover,
    &.playing, &:focus, &:active {
      .hover_image {
        opacity: 1;
        visibility: visible;
      }
    }

    &.visited {
      .visited_image {
        opacity: 1;
        visibility: visible;
      }
    }

    .panorama_video {
      position: absolute;
      display: block;
      z-index: 1;
    }

    &.dynamic_marker {
      .linkmap_marker {
        background-color: transparent;
        position: absolute;
        top: 5%;
        left: 5%;
        width: 90%;
        height: 90%;
        border: 3px solid rgba(255,255,255, 1);
        box-sizing: border-box;
        border-radius: 50%;
        @include transition(0.15s);
        opacity: 0.1;
        box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
        z-index: 2;
      }

      &:hover,
      &.hover,
      &.playing,
      &:focus,
      &:active {
        .linkmap_marker {
          border: 6px solid rgba(255,255,255, 1);
          opacity: 0.9 !important;
          box-shadow: 1px 2px 3px rgba(0,0,0,0.9);
        }
      }
    }
    &:focus, &:active {
      outline: none;
      border: none;
    }
  }
  .description_overlay {
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    z-index: 1;
    display: block;
    pointer-events: none;
    opacity: 0;
    max-width: 510px;
    max-height: 400px;

    .description_overlay_wrapper {
      overflow: hidden;
      position: relative;
    }

    @include transition(opacity 0.15s);

    &.active {
      display: block;
      opacity: 1;
    }

    .link_title {
      font-size: 28px;
      color: #55AEBC;
      letter-spacing: 0.31px;
      line-height: 46px;
    }

    .link_description {
      font-size: 20px;
      color: #999999;
      letter-spacing: 0.22px;
      line-height: 30px;
    }
  }
}
