@include pageflow-page-type(linkmap_page);


.js .page .scroller > div.linkmap {
  padding: 0 !important;
  width: auto;
  height: auto;

}
.linkmap_page {
  .content {
/*    pointer-events: none; */
  }

  .scroller {
    overflow: hidden;

    > div {
      min-height: 0;
      background-color: rgba(255,255,255,0.5);
    }
  }

  .linkmap {
    pointer-events: none;
    position: absolute;
    height: 100%;
    width: 100%;
    left:0;

    &.moving_background {
      @include transition(none);
    }

    &.measuring {
      @include transition(none);
    }
  }

  .panorama_wrapper {
    position: absolute;
  }

  .linkmap_areas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .panorama {
    height: 120%;
    width: auto;
    vertical-align: middle;
    display: block;
    position: relative;

 /*   display: none;

    &.active {
      display: block;
    } */
  }

  .hover_area {
    position: absolute;
    top: 50%;
    left: 10%;
    height: 30%;
    width: 20%;
    overflow: hidden;
    cursor: pointer;
    display: block;
    pointer-events: all;
    z-index: 1;
    background-color: rgba(50,50,50,0.5);

    .background_image {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      @include transition(opacity 0.5s ease, visibility 0.5s ease);
    }

    &:hover,
    &.hover,
    &.playing{
      .background_image {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

/* for testing, take out!!!!! */

.panorama_image {
  background-image: url('http://192.168.0.39:5000/panorama.png') !important;
}

.load_images .image_13 {
  background-image: url('http://192.168.0.39:5000/panorama_aktiv.png') !important;
}