@include pageflow-page-type(linkmap_page);

.linkmap_page {
  .content {
    pointer-events: none;
  }

  .linkmap {
    pointer-events: none;
    position: absolute;
    height: 100%;
    width: 100%;
    left:0;
    @include transition(0.5s ease-out);

    &.moving_background {
      @include transition(none);
    }
  }

  .linkmap_areas {
    position: absolute;
    top: 0;
    left: 0;
  }

  .panorama {
    pointer-events: all;
  }

  .hover_area {
    position: absolute;
    top: 50%;
    left: 10%;
    height: 30%;
    width: 20%;
    overflow: hidden;
    cursor: pointer;
    display: block;
    pointer-events: all;
    z-index: 1;

    .background_image {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      @include transition(opacity 0.5s ease);
    }

    &:hover,
    &.hover {
      .background_image {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}